---
import PlayConsole from "src/components/PlayConsole.astro";
import Layout from "src/layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import NesConsoleImage from "$assets/consoles/NES-Console-Set.png";
import Controls from "src/components/Controls.astro";

const controlsData = [
    { name: "Button A", key: "Z" },
    { name: "Button B", key: "X" },
    { name: "Select", key: "V" },
    { name: "Start", key: "Enter" },
    { name: "Up", key: "Up Arrow" },
    { name: "Down", key: "Down Arrow" },
    { name: "Left", key: "Left Arrow" },
    { name: "Right", key: "Right Arrow" },
    { name: "Swap Disks", key: "Q" },
    { name: "Eject/Insert Disk", key: "E" },
    { name: "Quick Save", key: "1" },
    { name: "Quick Load", key: "2" },
    { name: "Change Save State", key: "3" },
];
---

<Layout>
    <div class="container mx-auto mt-12 pb-12">
        <PlayConsole
            title="NES"
            description="You can play any NES game by uploading the game's ROM file here. Bios file optional."
            aspectRatioTailwind="aspect-[4/3]"
            core="nes"
        />
        <Controls rows={controlsData} />
        <h2 class="text-2xl mt-12 mb-4">NES (Nintendo Entertainment System)</h2>
        <div class="flex gap-4">
            <Image
                src={NesConsoleImage}
                alt="nes console image"
                width={320}
                height={180}
                class="aspect-video h-fit"
            />
            <p>
                Nintendo Entertainment System(NES) is a video game console
                developed by Nintendo. Even though it is known as Nintendo
                Entertainment System globally, it was released under the name
                "Family Computer(Famicom)" in Japan on <time
                    datetime="1983-7-15">15th of July 1983</time
                >. NES was launched in the US on <time datetime="1986-9-27"
                    >September 27, 1986</time
                >. Nintendo Entertainment System competed with the Master System
                by Sega.
                <br />
                The hardware of the NES was based on the 1981 arcade game called "Donkey
                Kong" which was released by Nintendo. Because Nintendo released the
                NES system after the video game crash of 1983, NES was quickly able
                to dominate the market and it successfully made Nintendo a monopoly
                in the home console market.
            </p>
        </div>
        <div class="">
            NES image by <a
                class="text-blue-500"
                href="//commons.wikimedia.org/wiki/User:Evan-Amos"
                title="User:Evan-Amos">Evan-Amos</a
            > - <span class="int-own-work" lang="en">Own work</span>, Public
            Domain, <a
                class="text-blue-500"
                href="https://commons.wikimedia.org/w/index.php?curid=11408831"
                >Link</a
            >
        </div>
    </div>
</Layout>
