---
import Layout from "src/layouts/Layout.astro";
---

<div class="pt-8">
    <div class="container mx-auto">
        <h2 class="text-3xl w-full text-center font-bold mb-6">Features</h2>
        <div>
            Here should be all the features this site has
        </div>
    </div>
</div>
