---
import { headerNavigationLinks } from "$lib/data/navigation";
import { Button } from "$lib/components/ui/button";
import Image from "astro/components/Image.astro";
import HeartIcon from "$assets/heart.svg";
import HeartPixelatedIcon from "$assets/heart-pixelated.svg";
---

<header class="container py-4 mx-auto flex justify-between items-center">
    <a
        href="/"
        class="flex gap-2 items-center"
        style="font-family: 'Jersey 10'; font-weight:300;"
    >
        <!-- I can't use the <Image /> element because the image optimization & resizing by astro is not helpful as I need the "pixelated" look -->
        <img
            class="h-[51px]"
            style={"aspect-ratio:1/1;image-rendering: pixelated;"}
            alt="Cool Emu"
            src="/small-cool-sunglasses.png"
        />
        <span class="text-5xl">Cool Emu</span>
    </a>
    <nav class="flex gap-4 text-lg h-fit">
        {
            headerNavigationLinks.map((e) => {
                return (
                    <a class="opacity-70 hover:opacity-100" href={e.url}>
                        {e.text}
                    </a>
                );
            })
        }
    </nav>
    <div>
        <Button
            href="https://buymeacoffee.com/notenlish"
            variant="link"
            target="_blank"
            class="bg-rose-500 hover:bg-rose-300 text-white py-6 px-6 flex align-center"
        >
            <Image src={HeartIcon} class="opacity-70" alt="heart" height={24} />
            Donate
        </Button>
        <!-- <Button
            href="https://buymeacoffee.com/notenlish"
            variant="link"
            target="_blank"
            class="bg-rose-500 hover:bg-rose-300 text-white py-6 px-6 flex align-center"
        >
            <Image
                src={HeartPixelatedIcon}
                class="opacity-70 -translate-y-[0.1rem]"
                alt="heart"
                height={24}
            />
            Donate
        </Button> -->
    </div>
</header>
