---

---

<div class="container mx-auto h-3/5 grid place-content-center">
    <div class="flex flex-col items-center">
        <div class="mb-8">
            <h1 class="text-4xl font-bold w-full text-center px-32">
                <span class="text-yellow-500">Cool Emu</span>
                is a web based <br />
                <div class="flex gap-2">
                    console emulator for
                    <div class="min-w-2" id="text-rotator">
                        <span class="text-blue-600">NES</span>
                        <span class="text-green-600">SNES</span>
                        <span class="text-blue-600">Playstation</span>
                        <span class="text-red-600">Gameboy</span>
                    </div>
                </div>
            </h1>
            <h2 class="text-center opacity-70 text-lg text-primary">
                Currently supporting emulation of no game consoles.
            </h2>
        </div>
        <p>
            Welcome to <strong>Cool Emu</strong>, a web based console emulator! On this site you
            can play all sorts of games from NES classics such as Super Mario
            Bros to PSP games like Patapon! All you need to do is head over to
            the respective games console and then put in the game ROM file.
        </p>
        <p>
            For legal reasons we don't host game ROMS, however we hope you can
            legally acquire the ROM of the game you are looking to play. Have
            fun! If you like this website, you can share it with others!
        </p>
    </div>
</div>

<script>
    import { gsap } from "gsap";

    const container = document.getElementById("text-rotator");
    if (!container) throw new Error("text-rotator doesnt exist!");

    let words = Array.from(container.children as HTMLCollectionOf<HTMLElement>);

    let longest = 0;
    let height = words[0].getBoundingClientRect().height + 3;
    for (const [key, value] of words.entries()) {
        value.style.position = "absolute";
        value.style.transform = `translate(0,${key * height}px)`;
        if (value.textContent.length >= longest) {
            longest = value.textContent.length;
        }
    }
    container.style.width = `${longest * 20}px`;
    container.style.height = `${height}px`;

    // change over time
    setInterval(() => {
        words = Array.from(container.children as HTMLCollectionOf<HTMLElement>);

        // move the element at the top to the bottom
        let firstEl = words[0];
        words[0].remove();
        container.appendChild(firstEl);

        for (const [key, value] of words.entries()) {
            gsap.fromTo(
                value,
                {
                    translateY: key * height,
                },
                {
                    translateY: (key - 1) * height,
                },
            );
        }
    }, 1000);
</script>
