---
import Layout from "src/layouts/Layout.astro";
import { Label } from "$lib/components/ui/label";
import SaveIcon from "$assets/save.svg";
import GearIcon from "$assets/gear.svg";
import Image from "astro/components/Image.astro";
import * as InputGroup from "$lib/components/ui/input-group/index.js";

const { title, description, core } = Astro.props;
---

<Layout>
    <div class="container mx-auto mt-12">
        <h1 class="text-3xl font-bold mb-6">Play {title} Games using Emulation</h1>
        <p>{description}</p>

        <div class="grid w-full max-w-sm items-center gap-1.5 h-12 mb-12">
            <Label class={"text-base "} for="romInput">Enter Game File:</Label>
            <InputGroup.Root>
                <InputGroup.Input
                    class="leading-6"
                    id="romInput"
                    type="file"
                    required
                />
                <InputGroup.Addon
                    class={"p-0 m-0 w-12 h-12 min-w-12 size-12 text-black"}
                >
                    <SaveIcon width={64} height={64} class={"size-8"} />
                </InputGroup.Addon>
            </InputGroup.Root>
            <Label class={"text-base "} for="biosInput"
                >Enter BIOS File(Optional):</Label
            >
            <InputGroup.Root>
                <InputGroup.Input
                    class="leading-6"
                    id="biosInput"
                    type="file"
                />
                <InputGroup.Addon
                    class={"p-0 m-0 w-12 h-12 min-w-12 size-12 text-black"}
                >
                    <GearIcon width={64} height={64} class={"size-8"} />
                </InputGroup.Addon>
            </InputGroup.Root>
        </div>

        <div style="width:640px;height:480px;max-width:100%">
            <div id="game"></div>
        </div>
    </div>
</Layout>

<div id="data-emulator" data-core={core}></div>
<script type="text/javascript">
    const input = document.getElementById("romInput");
    const biosInput = document.getElementById("biosInput");

    let data = {
        gameFile: "",
        biosFile: "",
    };

    biosInput.addEventListener("change", (e) => {
        const file = input.files[0];
        if (!file) {
            console.log("File not found!");
        } else {
            const blobUrl = URL.createObjectURL(file);
            data["biosFile"] = blobUrl;
        }
        checkValidAndStart();
    });

    input.addEventListener("change", (e) => {
        const file = input.files[0];
        if (!file) {
            console.log("File not found!");
        } else {
            const blobUrl = URL.createObjectURL(file);
            data["gameFile"] = blobUrl;
        }
        checkValidAndStart();
    });

    const checkValidAndStart = () => {
        if (data["gameFile"] === "") {
            return;
        }

        EJS_player = "#game";
        // Can also be fceumm or nestopia
        EJS_core = document.getElementById("data-emulator").dataset.core;

        // URL to BIOS file
        // EJS_biosUrl = "https://archive.org/download/disksys_202501/disksys.rom";
        EJS_biosUrl = data["biosFile"];

        /*
        File Name	    Description	                                                                                                md5sum
        disksys.rom	    Family Computer Disk System BIOS - Required for Famicom Disk System emulation	                            ca30b50f880eb660a320674ed365ef7a
        gamegenie.nes	Game Genie add-on cartridge - Required for Game Genie Add-on emulation (Only supported on the fceumm core)	7f98d77d7a094ad7d069b74bd553ec98
        */

        // URL to Game rom
        EJS_gameUrl = data["gameFile"];

        // Path to the data directory
        EJS_pathtodata = "data/";
        EJS_DEBUG_XX = true;
        // EJS_language = "tr";

        const scriptTag = document.createElement("script");
        scriptTag.src = "data/loader.js";
        document.body.appendChild(scriptTag);
    };
</script>

<!-- <script is:inline src="data/loader.js"></script> -->
